.form{
    width: 500px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}



.username{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}

.password{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}

.signup-btn{
    width: 70px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 13px;
    margin-bottom: 20px;
}