.signup-card{
    width: flex;
    position: absolute;
    top: 10%;
}

.first-name{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}

.last-name{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}
.email{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}
.username{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}

.password{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}

.signup-btn{
    width: 60px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    margin-bottom: 20px;
}